<div class="container text-center">
    <form class="form-group form-signin">
      <img class="mb-4" src="../../assets/OTTApp-1.png" alt="OTTApp LOGO" width="120" height="100">
      <h1 class="h3 mb-3 font-weight-normal">Sign in to <b>OTTApp</b></h1>
      <h6 class="h6 mb-3 font-weight-normal" *ngIf="warnNotAuthorized">Molimo unesite tačne podatke</h6>
      <label for="username" class="sr-only">Username</label>
            <input name="username"
                  [(ngModel)] = "username"
                   type="email" 
                   class="form-control" 
                   id="username" 
                   placeholder="Username" required=true autofocus=true>
      <label for="password" class="sr-only">Password</label>
      <input 
            name="password"
            [(ngModel)] = "password"
            type="password" 
            class="form-control" 
            id="password" 
            placeholder="Password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Zapamti me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit"(click)="login()">Sign in</button>
      <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </div>





